In [1]:
import pandas as pd

In [2]:
pd.options.display.max_colwidth = 100
tfc=pd.read_csv("RT_IOT2022")

In [3]:
tfc.head()

,Unnamed: 0,id.orig_p,id.resp_p,proto,service,flow_duration,fwd_pkts_tot,bwd_pkts_tot,fwd_data_pkts_tot,bwd_data_pkts_tot,...,active.std,idle.min,idle.max,idle.tot,idle.avg,idle.std,fwd_init_window_size,bwd_init_window_size,fwd_last_window_size,Attack_type
0,0,38667,1883,tcp,mqtt,32.011598,9,5,3,3,...,0.0,2.972918e+07,2.972918e+07,2.972918e+07,2.972918e+07,0.0,64240,26847,502,MQTT_Publish
1,1,51143,1883,tcp,mqtt,31.883584,9,5,3,3,...,0.0,2.985528e+07,2.985528e+07,2.985528e+07,2.985528e+07,0.0,64240,26847,502,MQTT_Publish
2,2,44761,1883,tcp,mqtt,32.124053,9,5,3,3,...,0.0,2.984215e+07,2.984215e+07,2.984215e+07,2.984215e+07,0.0,64240,26847,502,MQTT_Publish
3,3,60893,1883,tcp,mqtt,31.961063,9,5,3,3,...,0.0,2.991377e+07,2.991377e+07,2.991377e+07,2.991377e+07,0.0,64240,26847,502,MQTT_Publish
4,4,51087,1883,tcp,mqtt,31.902362,9,5,3,3,...,0.0,2.981470e+07,2.981470e+07,2.981470e+07,2.981470e+07,0.0,64240,26847,502,MQTT_Publish

In [4]:
tfc.tail()

,Unnamed: 0,id.orig_p,id.resp_p,proto,service,flow_duration,fwd_pkts_tot,bwd_pkts_tot,fwd_data_pkts_tot,bwd_data_pkts_tot,...,active.std,idle.min,idle.max,idle.tot,idle.avg,idle.std,fwd_init_window_size,bwd_init_window_size,fwd_last_window_size,Attack_type
123112,2005,59247,63331,tcp,-,0.000006,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN
123113,2006,59247,64623,tcp,-,0.000007,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN
123114,2007,59247,64680,tcp,-,0.000006,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN
123115,2008,59247,65000,tcp,-,0.000006,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN
123116,2009,59247,65129,tcp,-,0.000006,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1024,0,1024,NMAP_XMAS_TREE_SCAN

In [5]:
tfc.info

<bound method DataFrame.info of         Unnamed: 0  id.orig_p  id.resp_p proto service  flow_duration  \
0                0      38667       1883   tcp    mqtt      32.011598
1                1      51143       1883   tcp    mqtt      31.883584
2                2      44761       1883   tcp    mqtt      32.124053
3                3      60893       1883   tcp    mqtt      31.961063
4                4      51087       1883   tcp    mqtt      31.902362
...            ...        ...        ...   ...     ...            ...
123112        2005      59247      63331   tcp       -       0.000006
123113        2006      59247      64623   tcp       -       0.000007
123114        2007      59247      64680   tcp       -       0.000006
123115        2008      59247      65000   tcp       -       0.000006
123116        2009      59247      65129   tcp       -       0.000006

        fwd_pkts_tot  bwd_pkts_tot  fwd_data_pkts_tot  bwd_data_pkts_tot  ...  \
0                  9             5                  3                  3  ...
1                  9             5                  3                  3  ...
2                  9             5                  3                  3  ...
3                  9             5                  3                  3  ...
4                  9             5                  3                  3  ...
...              ...           ...                ...                ...  ...
123112             1             1                  0                  0  ...
123113             1             1                  0                  0  ...
123114             1             1                  0                  0  ...
123115             1             1                  0                  0  ...
123116             1             1                  0                  0  ...

        active.std      idle.min      idle.max      idle.tot      idle.avg  \
0              0.0  2.972918e+07  2.972918e+07  2.972918e+07  2.972918e+07
1              0.0  2.985528e+07  2.985528e+07  2.985528e+07  2.985528e+07
2              0.0  2.984215e+07  2.984215e+07  2.984215e+07  2.984215e+07
3              0.0  2.991377e+07  2.991377e+07  2.991377e+07  2.991377e+07
4              0.0  2.981470e+07  2.981470e+07  2.981470e+07  2.981470e+07
...            ...           ...           ...           ...           ...
123112         0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
123113         0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
123114         0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
123115         0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
123116         0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

        idle.std  fwd_init_window_size  bwd_init_window_size  \
0            0.0                 64240                 26847
1            0.0                 64240                 26847
2            0.0                 64240                 26847
3            0.0                 64240                 26847
4            0.0                 64240                 26847
...          ...                   ...                   ...
123112       0.0                  1024                     0
123113       0.0                  1024                     0
123114       0.0                  1024                     0
123115       0.0                  1024                     0
123116       0.0                  1024                     0

        fwd_last_window_size          Attack_type
0                        502         MQTT_Publish
1                        502         MQTT_Publish
2                        502         MQTT_Publish
3                        502         MQTT_Publish
4                        502         MQTT_Publish
...                      ...                  ...
123112                  1024  NMAP_XMAS_TREE_SCAN
123113                  1024  NMAP_XMAS_TREE_SCAN
123114                  1024  NMAP_XMAS_TREE_SCAN
123115                  1024  NMAP_XMAS_TREE_SCAN
123116                  1024  NMAP_XMAS_TREE_SCAN

[123117 rows x 85 columns]>

In [6]:
# drop unneded columns
tfc.drop(['Unnamed: 0','idle.min','idle.max','idle.tot','idle.avg','idle.std','flow_duration','fwd_pkts_tot','bwd_pkts_tot','fwd_data_pkts_tot', 'bwd_data_pkts_tot', 'fwd_pkts_per_sec', 'bwd_pkts_per_sec', 'flow_pkts_per_sec', 'down_up_ratio', 'fwd_header_size_tot', 'fwd_header_size_min', 'fwd_header_size_max', 'bwd_header_size_tot', 'bwd_header_size_min', 'bwd_header_size_max', 'flow_FIN_flag_count', 'flow_SYN_flag_count', 'flow_RST_flag_count', 'fwd_PSH_flag_count', 'bwd_PSH_flag_count', 'flow_ACK_flag_count', 'fwd_URG_flag_count', 'bwd_URG_flag_count', 'flow_CWR_flag_count', 'flow_ECE_flag_count', 'fwd_pkts_payload.min', 'fwd_pkts_payload.max', 'fwd_pkts_payload.tot', 'fwd_pkts_payload.avg', 'fwd_pkts_payload.std', 'bwd_pkts_payload.min', 'bwd_pkts_payload.max', 'bwd_pkts_payload.tot', 'bwd_pkts_payload.avg', 'bwd_pkts_payload.std', 'flow_pkts_payload.min', 'flow_pkts_payload.max', 'flow_pkts_payload.tot', 'flow_pkts_payload.avg', 'flow_pkts_payload.std', 'fwd_iat.min', 'fwd_iat.max', 'fwd_iat.tot', 'fwd_iat.avg', 'fwd_iat.std', 'bwd_iat.min', 'bwd_iat.max', 'bwd_iat.tot', 'bwd_iat.avg', 'bwd_iat.std', 'flow_iat.min', 'flow_iat.max', 'flow_iat.tot', 'flow_iat.avg', 'flow_iat.std', 'payload_bytes_per_second', 'fwd_subflow_pkts',
 'bwd_subflow_pkts', 'fwd_subflow_bytes', 'bwd_subflow_bytes', 'fwd_bulk_bytes', 'bwd_bulk_bytes', 'fwd_bulk_packets', 'bwd_bulk_packets', 'fwd_bulk_rate', 'bwd_bulk_rate', 'active.min', 'active.max', 'active.tot', 'active.avg', 'active.std', 'fwd_init_window_size', 'bwd_init_window_size', 'fwd_last_window_size'], axis=1, inplace=True)
tfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123117 entries, 0 to 123116
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id.orig_p    123117 non-null  int64
 1   id.resp_p    123117 non-null  int64
 2   proto        123117 non-null  object
 3   service      123117 non-null  object
 4   Attack_type  123117 non-null  object
dtypes: int64(2), object(3)
memory usage: 4.7+ MB

In [7]:
# rename columns for better clarity
tfc.rename(columns={'id.orig_p':'origin port','id.resp_p':'response port','Attack_type':'traffic_pattern'},inplace=True)
# save column names to a list
tfcCols = tfc.columns.tolist()
tfcCols

['origin port', 'response port', 'proto', 'service', 'traffic_pattern']

In [8]:
# 'traffic_patterns' are the benign and attack traffic present in the data
# identify which ones are present and save to a df
patterns=tfc.traffic_pattern.unique()
tfcPatterns=pd.DataFrame(patterns, columns=['pattern'])

In [9]:
tfcPatterns

                       pattern
0                 MQTT_Publish
1                  Thing_Speak
2                   Wipro_bulb
3               ARP_poisioning
4               DDOS_Slowloris
5                DOS_SYN_Hping
6   Metasploit_Brute_Force_SSH
7                NMAP_FIN_SCAN
8            NMAP_OS_DETECTION
9                NMAP_TCP_scan
10               NMAP_UDP_SCAN
11         NMAP_XMAS_TREE_SCAN

In [10]:
# use a function to search throught the pattern values to determine if each is an attack or benign
def categorize_attack(pattern):
    if pattern.startswith('NMAP'):
        return 'attack'
    elif 'DOS' in pattern:
        return 'attack'
    elif 'Metasploit' in pattern:
        return 'attack'
    elif pattern.startswith('ARP'):
        return 'attack'
    else:
        return 'benign'
# apply the function to populate thew new attack? column to the patterns df
tfcPatterns['attack?'] = tfcPatterns['pattern'].apply(categorize_attack)
tfcPatterns

                       pattern attack?
0                 MQTT_Publish  benign
1                  Thing_Speak  benign
2                   Wipro_bulb  benign
3               ARP_poisioning  attack
4               DDOS_Slowloris  attack
5                DOS_SYN_Hping  attack
6   Metasploit_Brute_Force_SSH  attack
7                NMAP_FIN_SCAN  attack
8            NMAP_OS_DETECTION  attack
9                NMAP_TCP_scan  attack
10               NMAP_UDP_SCAN  attack
11         NMAP_XMAS_TREE_SCAN  attack

In [11]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/randy/anaconda3/envs/dev/lib/python3.10/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [12]:
from sqlalchemy import create_engine
#engine = create_engine('postgresql://pgadmin@pos@localhost:5432/iot_attack_traffic')
connString = 'postgresql://postgres:postgres@127.0.0.1/iot_attack_traffic'
db=create_engine(connString)

In [13]:
print(db)

Engine(postgresql://postgres:***@127.0.0.1/iot_attack_traffic)

In [ ]:
tfc.to_sql('all_traffic',connString,if_exists='replace')

In [ ]:
tfcPatterns.to_sql('traffic_patterns',connString,if_exists='replace')

In [ ]:
tfc.info()

In [ ]:
tfcPatterns.info()

In [ ]:
pip install sqlalchemy

In [ ]:
from sqlalchemy.engine import URL

In [ ]:
from sqlalchemy.orm import sessionmaker

In [ ]:
Session=sessionmaker(bind=db)

In [ ]:
session=Session()

In [ ]:
patterns=db.execute("select * from traffic_patterns")
print(patterns.fetchall())